<br />
<mat-card>
    <b>Nisha Sharma</b><br />
    XYZ Institute of Technology<br />
    I am seeking mentorship for starting DSA for getting placed in a Product Based Company. I am a 2nd year student.
    <br >
    <b>Schedule : 10 December 2021, 10:00am - 11:00 am</b> &nbsp;
    <button mat-raised-button color = "primary"> Accept </button>
    <button mat-raised-button color = "warn"> Reject </button>
</mat-card><br/>
<mat-card>
    <b>Nisha Sharma</b><br />
    XYZ Institute of Technology<br />
    I am seeking mentorship for starting DSA for getting placed in a Product Based Company. I am a 2nd year student.
    <br >
    <b>Schedule : 10 December 2021, 10:00am - 11:00 am</b> &nbsp;
    <button mat-raised-button color = "primary"> Accept </button>
    <button mat-raised-button color = "warn"> Reject </button></mat-card><br/>
<mat-card>
    <b>Nisha Sharma</b><br />
    XYZ Institute of Technology<br />
    I am seeking mentorship for starting DSA for getting placed in a Product Based Company. I am a 2nd year student.
    <br >
    <b>Schedule : 10 December 2021, 10:00am - 11:00 am</b> &nbsp;
<button mat-raised-button color = "primary"> Accept </button>
    <button mat-raised-button color = "warn"> Reject </button>
</mat-card>