  <mat-card class="example-card" style = "min-height: 400px !important;">
    <mat-card-title-group>
      <mat-card-title>{{this.mentor.name}}</mat-card-title>
      <mat-card-subtitle>{{this.mentor.currentdesig}}</mat-card-subtitle>
      <img mat-card-image style = "vertical-align: middle;
                    width: 100px;
                    border-radius: 50%;"
       class= "img-responsive" src= {{this.mentor.profile}} >
    </mat-card-title-group>
    <mat-card-content>
      <mat-icon  *ngFor = "let i of [].constructor(this.mentor.rating)" color="accent">star</mat-icon>
    </mat-card-content>
    <mat-card-content>
      <span *ngIf = "this.mentor.companyname != 'None'"><mat-icon>work</mat-icon>{{this.mentor.companyname}}<br/></span>
      <mat-icon>cast_for_education</mat-icon>{{this.mentor.education}}<br/>
      {{this.mentor.college}}<br/>

      <button mat-raised-button mat-btn-sm class = "mg-5">Web Development</button>
      <button mat-raised-button mat-btn-sm class = "mg-5">C++</button>
      <button mat-raised-button mat-btn-sm class = "mg-5">Startup</button>
      <button mat-raised-button mat-btn-sm class = "mg-5">C++</button>
      <button mat-raised-button mat-btn-sm class = "mg-5">Startup</button>
    
    </mat-card-content>
    <mat-card-actions style = "text-align:center !important;">
      <button mat-raised-button color="primary">Get In Touch</button>
    </mat-card-actions>
  </mat-card>

